
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNav" >

		<ul class="navbar-nav">
		
		{% if user.is_secretary %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'nonteacherapply' %}">Apply for TimeOff</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'profile' %}">Profile</a>
		</li>
		<li class="nav-item dropdown">
		 <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown"> Leave Increment </a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="{% url 'incrementlistview' %}">Monthly Increment Record</a></li>
				<li><a class="dropdown-item" href="{% url 'incrementallview' %}">Monthly Increment</a></li>
			</ul>
		</li>
		<li class="nav-item dropdown">
		 <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown"> View Application </a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="{% url 'prependinglistview' %}">Pre-Pending </a></li>
				<li><a class="dropdown-item" href="{% url 'secretarylistview' %}">Pending </a></li>
				<li><a class="dropdown-item" href="{% url 'userlistview' %}">All Users </a></li>
				<li><a class="dropdown-item" href="{% url 'alllistview' %}">All Applications </a></li>
				<li><a class="dropdown-item" href="{% url 'documentlistview' %}">Document </a></li>
				<li><a class="dropdown-item" href="{% url 'calendarlistview' %}">Calendar </a></li>
			</ul>
		</li>
		
			<li class="nav-item">
				<a class="nav-link " href="{% url 'applyforapply' %}">Emergency Sick Leave</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="{% url 'change_password' %}">Change Password</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="{% url 'logout' %}">Logout</a>
			</li>
		{% elif user.is_nonteacher %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'nonteacherapply' %}">Apply for TimeOff</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'profile' %}">Profile</a>
		</li>
		<li class="nav-item">
				<a class="nav-link " href="{% url 'change_password' %}">Change Password</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="{% url 'logout' %}">Logout</a>
		</li>
		{% elif user.is_principal and user.is_teacher %}
	<!--   <li class="nav-item">
			<a class="nav-link" href="{% url 'plistview' %}">Principal Manage Application</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'plistviewdecided' %}">Processed Application</a>
		</li> -->

		<li class="nav-item dropdown">
		 <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown"> View Applications </a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="{% url 'plistview' %}"> Pending Application</a></li>
				<li><a class="dropdown-item" href="{% url 'plistviewdecided' %}">Processed Application</a></li>
			</ul>
		</li>
		<li class="nav-item dropdown">
		 <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown"> Leave Increment </a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="{% url 'incrementlistview' %}">Monthly Increment Record</a></li>
				<li><a class="dropdown-item" href="{% url 'incrementallview' %}">Monthly Increment</a></li>
			</ul>
		</li>
		<li class="nav-item">
				<a class="nav-link " href="{% url 'change_password' %}">Change Password</a>
			</li>
		<li class="nav-item">
			<a class="nav-link " href="{% url 'logout' %}">Logout</a>
		</li>
		{% elif user.is_supervisor %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'teacherapply' %}">TimeOff Apply</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'supervisorapply' %}">Group Apply</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'managerlistview' %}">Manage Application</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'profile' %}">Profile</a>
		</li>
		<li class="nav-item">
				<a class="nav-link " href="{% url 'change_password' %}">Change Password</a>
			</li>
		<li class="nav-item">
			<a class="nav-link " href="{% url 'logout' %}">Logout</a>
		</li>
			{% elif user.is_viceprincipal and user.is_teacher %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'teacherapply' %}">TimeOff Apply</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'supervisorapply' %}">Group Apply</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'vplistview' %}">Manage Application</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'profile' %}">Profile</a>
		</li>
		<li class="nav-item">
				<a class="nav-link " href="{% url 'change_password' %}">Change Password</a>
			</li>
		<li class="nav-item">
			<a class="nav-link " href="{% url 'logout' %}">Logout</a>
		</li>
			{% elif user.is_teacher  %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'teacherapply' %}">TimeOff Apply</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'profile' %}">Profile</a>
		</li>
		<li class="nav-item">
				<a class="nav-link " href="{% url 'change_password' %}">Change Password</a>
			</li>
		<li class="nav-item">
			<a class="nav-link " href="{% url 'logout' %}">Logout</a>
		</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
			</li>
		 
			<li class="nav-item">
				<a class="nav-link" href="#">Contact Principal</a>
			</li>
		</ul>
		{% endif %}
	</div>
</nav>

<!-- <ul class="nav">
		{% if user.is_authenticated %}
	<li class="nav-item">
		<a class="nav-link active" href="#">Apply for TimeOff</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Logout</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Placeholder</a>
	</li>
	{% else %}
	<li class="nav-item">
		<a class="nav-link" href="#">Login</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Contact anson</a>
	</li>
	 {% endif %}

</ul> -->