{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}


  <div class="content-section">

	<form method = 'POST'> 
		{% csrf_token %}
  	<fieldset class='form-group'>
      <h3>Time Off Request</h3>
    <hr/>
  		<!-- <legend class='border-bottom mb-4'> Ka Chi Staff Register </legend> -->
    <div class="start">
    
    <div class="starttimefield">{{ form.startdate|as_crispy_field }}</div>
    <div class="starttimefield">{{ form.starttime|as_crispy_field }}</div>
        <hr/>
    <div class="starttimefield">{{ form.teachertimeofftype|as_crispy_field }}</div>

    </div>
    <div class="end">  
    <div class="endtimefield">{{ form.enddate|as_crispy_field }}</div>
    <div class="endtimefield">{{ form.endtime|as_crispy_field }}</div>
    </div>
    <div class="reason">{{ form.reason|as_crispy_field }}</div>
    
    <script type="text/javascript">     
     jQuery(document).ready(function(){ jQuery('.timepicker').datepicker(); });
    </script>
    

        </fieldset>
    <div class='form-group'>
      <button type="submit" class="btn btn-primary">Apply</button>
    </div>
	</form>
<div class="border-top pt-3">
	<small class='text-muted'>
		Already Have An Account? <a class='ml-2' href="{% url 'login' %}">Sign In</a>
	</small>
</div>
  </div>
  

{% endblock %}