{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}


  <div class="content-section">

	<form method = 'POST'> 
		{% csrf_token %}
  	<fieldset class='form-group'>
      <h3>Time Off Request</h3>
    <hr/>
  		<!-- <legend class='border-bottom mb-4'> Ka Chi Staff Register </legend> -->
    <div class="start">
    
    <div class="starttimefield">{{ form.startdate|as_crispy_field }}</div>
    <div class="starttimefield hide" id='input1'>{{ form.starttime|as_crispy_field }}</div>

        <hr/>
      {% if user.is_teacher %}
        <div class="starttimefield">{{ form.teachertimeofftype|as_crispy_field }}</div>
      {% else %}
        <div class="starttimefield">{{ form.nonteachertimeofftype|as_crispy_field }}</div>
      {% endif %}


    </div>

    <div class="end">  
    <div class="endtimefield">{{ form.enddate|as_crispy_field }}</div>
    <div class="endtimefield hide" id='input2'>{{ form.endtime|as_crispy_field }}</div>

    </div>
    <div class="check">
    <input  type="checkbox" id="checkbox1" onclick="changeHideStatus()" />
    <label for="checkbox1">Time Option</label>
    </div>
    <div class="reason">{{ form.reason|as_crispy_field }}</div>
    
    <script>
      let input1;
      let input2;

      function changeHideStatus(){
        
        if(document.getElementById("checkbox1").checked == true){

          document.getElementById("input1").setAttribute("class", "starttimefield");
          document.getElementById("input2").setAttribute("class", "endtimefield");
        }
        else{


          document.getElementById("input1").setAttribute("class", "hide starttimefield");
          document.getElementById("input2").setAttribute("class", "hide endtimefield");
          
          document.getElementById("input1").value = "13:11";
        }
      }
    </script>

    <script type="text/javascript">     
     jQuery(document).ready(function(){ jQuery('.timepicker').datepicker(); });
    </script>
    

        </fieldset>
    <div class='form-group'>
      <button type="submit" class="btn btn-primary">Apply</button>
    </div>
	</form>
<div class="border-top pt-3">
	<small class='text-muted'>
		Already Have An Account? <a class='ml-2' href="{% url 'login' %}">Sign In</a>
	</small>
</div>
  </div>
  

{% endblock %}