{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<!--  -->

    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h4 class="account-heading">Applicant : {{ obj.user.username }}</h4>
          <p class="text-secondary">email address : {{ obj.user.email }}</p>

          {% if obj.user.is_teacher %}
          <p class="text-secondary">Teacher Type of Leave : {{ obj.teachertimeofftype }}</p>
          {% else %}
          <p class="text-secondary">Non Teacher Type of Leave : {{ obj.nonteachertimeofftype }}</p>
          {% endif %}
          <p class="text-secondary">Start Date : {{ obj.startdate }}</p>
          <p class="text-secondary">End Date : {{ obj.enddate }}</p>
          <p class="text-secondary">Duration : {{ obj.duration }}</p>
          <p class="text-secondary">Applicant Reason : {{ obj.reason }}</p><br>
          <h4 class="account-heading">Supervisor Validation:</h4>          
          <p class="text-secondary">Supervisor Approval Status : {{ obj.firststatus }}</p>
          <p class="text-secondary">Supervisor comment : {{ obj.firstcomment }}</p><br>
          <h4 class="account-heading">Vice Principal Validation:</h4>          
          <p class="text-secondary">Vice Principal Approval Status : {{ obj.secondstatus }}</p>
          <p class="text-secondary">Vice Principal comment : {{ obj.secondcomment }}</p><br>
        </div>
      </div>

  <form method = 'POST' enctype='multipart/form-data'> 
    {% csrf_token %}
    <fieldset class='form-group'>
      <legend class='border-bottom mb-4'> Principal Final Validation </legend>
      {{ u_form|crispy }}

    </fieldset>
    <div class='form-group'>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

  </div>
{% endblock %}