{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}

<div class = 'profiledetail'>
  
  {% if user.is_nonteacher %}
  <h3> My Application </h3>
  <h5> English Name: {{ userid.user }}</h5>
  <h5> Sick Leave Taken (days): {{ userid.sickleavecounter }}</h5>
  <h5> Annual Leave Balance (days): {{ userid.annualleave }}</h5>
  <h5> Compensated Leave Balance (hrs): {{ userid.compensatedleave }}</h5>
  {% else %}
  <h4> Profile of : {{ userid.user }}</h4>
  <h5> Sick Leave Taken (days): {{ userid.sickleavecounter }}</h5>
  <h5> Over Time Balance (hrs): {{ userid.casualleave }}</h5><br><br>
  {% endif %}
</div>
<hr>

<!-- <form method = "get">

  {{myFilter.form|crispy}}

  <button class = "btn btn-primary" type = "submit">Search</button>
</form>
 -->
<div class = 'profileapplication'>

  <h4 style="font-weight: bold; color: red"> You need to confirm the following Leave : </h4>
  <table style="width:100%">
  <tr class = 'table'>

      <th>Apply Date/Time</th>
      <th>Leave Type</th>
      <th>Start/End Date</th>
      <th>Duration</th>
      <th>Direct Supervisor</th>
      <th>Vice Principal Decision</th>
      <th>Principal Decision</th>
      <th style="font-weight: bold; color: red">Action Required</th>
    </tr>
  {% for stuff in applicant %}
    {% if stuff.finalstatus == "Action Required" %}
    {% if stuff.user.is_nonteacher %}
      
        <tr class = 'table'>
          <td> {{ stuff.created_at }}</td>
          <td> {{ stuff.nonteachertimeofftype }}</td>
          <td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>

          {% if stuff.nonteachertimeofftype == "Over Time" %}
            <td> {{ stuff.duration }} hrs</td>
          {% else %}
            <td> {{ stuff.duration }} days</td>
          {% endif %}
          <td> {{ stuff.firststatus }}</td>
          <td> {{ stuff.secondstatus }}</td>
          <td> {{ stuff.finalstatus }}</td>
          <td><a href = "{% url 'profileapprove' myid=stuff.id %}">Please Confirm</a></td>
        </tr>
    {% else %}
      <tr class = 'table'>
        <td> {{ stuff.created_at }}</td>
        <td> {{ stuff.teachertimeofftype }}</td>
        <td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>
        {% if stuff.teachertimeofftype == "Over Time" %}
            <td> {{ stuff.duration }} hrs</td>
          {% else %}
            <td> {{ stuff.duration }} days</td>
          {% endif %}
        <td> {{ stuff.firststatus }}</td>
        <td> {{ stuff.secondstatus }}</td>
        <td> {{ stuff.finalstatus }}</td>
        <td><a href = "{% url 'profileapprove' myid=stuff.id %}">Please Confirm</a></td>
      </tr>
    {% endif %}
    {% endif %}
  {% endfor %}
  </table><br><br>

  <h4>Pending Application : </h4>
  <table style="width:100%">
  <tr class = 'table'>

      <th>Apply Date/Time</th>
      <th>Leave Type</th>
      <th>Start/End Date</th>
      <th>Duration</th>
      <th>Direct Supervisor</th>
      <th>Vice Principal Decision</th>
      <th>Principal Decision</th>
      <th>Cancel</th>
    </tr>
  {% for stuff in applicant %}
    {% if stuff.finalstatus == "Pending" %}
    {% if stuff.user.is_nonteacher %}
      
        <tr class = 'table'>
          <td> {{ stuff.created_at }}</td>
          <td> {{ stuff.nonteachertimeofftype }}</td>
          <td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>
          {% if stuff.nonteachertimeofftype == "Over Time" %}
            <td> {{ stuff.duration }} hrs</td>
          {% else %}
            <td> {{ stuff.duration }} days</td>
          {% endif %}
          <td> {{ stuff.firststatus }}</td>
          <td> {{ stuff.secondstatus }}</td>
          <td> {{ stuff.finalstatus }}</td>
          <td><a href = "{% url 'profiledetail' myid=stuff.id %}"> Cancel</a></td>
        </tr>
    {% else %}
      <tr class = 'table'>
        <td> {{ stuff.created_at }}</td>
        <td> {{ stuff.teachertimeofftype }}</td>
        <td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>
        {% if stuff.teachertimeofftype == "Over Time" %}
            <td> {{ stuff.duration }} hrs</td>
          {% else %}
            <td> {{ stuff.duration }} days</td>
          {% endif %}
        <td> {{ stuff.firststatus }}</td>
        <td> {{ stuff.secondstatus }}</td>
        <td> {{ stuff.finalstatus }}</td>
        <td><a href = "{% url 'profiledetail' myid=stuff.id %}"> Cancel</a></td>
      </tr>
    {% endif %}
    {% endif %}
  {% endfor %}
  </table><br><br>

  <h4>Final Decision : </h4>
  <table style="width:100%">
  <tr class = 'table'>

      <th>Apply Date/Time</th>
      <th>Leave Type</th>
      <th>Start/End Date</th>
      <th>Duration</th>
      <th>Direct Supervisor</th>
      <th>Vice Principal Decision</th>
      <th>Principal Decision</th>
      <th>Remarks</th>
    </tr>
  {% for stuff in applicant %}
    {% if stuff.finalstatus == "Approved" or stuff.finalstatus == "Denied" or stuff.finalstatus == "Canceled" %}
    {% if stuff.user.is_nonteacher %}
      
        <tr class = 'table'>
          <td> {{ stuff.created_at }}</td>
          <td> {{ stuff.nonteachertimeofftype }}</td>
          <td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>
          {% if stuff.nonteachertimeofftype == "Over Time" %}
            <td> {{ stuff.finalduration }} hrs</td>
          {% else %}
            <td> {{ stuff.finalduration }} days</td>
          {% endif %}
          <td> {{ stuff.firststatus }}</td>
          <td> {{ stuff.secondstatus }}</td>
          <td> {{ stuff.finalstatus }}</td>
          <td><a href = "{% url 'profiledetail' myid=stuff.id %}"> {{ stuff.appliedby }} </a></td>
        </tr>
    {% else %}
      <tr class = 'table'>
        <td> {{ stuff.created_at }}</td>
        <td> {{ stuff.teachertimeofftype }}</td>
        <td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>
        {% if stuff.nonteachertimeofftype == "Over Time" %}
            <td> {{ stuff.finalduration }} hrs</td>
          {% else %}
            <td> {{ stuff.finalduration }} days</td>
          {% endif %}
        <td> {{ stuff.firststatus }}</td>
        <td> {{ stuff.secondstatus }}</td>
        <td> {{ stuff.finalstatus }}</td>
        <td><a href = "{% url 'profiledetail' myid=stuff.id %}"> {{ stuff.appliedby }} </a></td>
      </tr>
    {% endif %}
    {% endif %}
  {% endfor %}
  </table>
</div>

    
{% endblock %}