{% extends 'base.html' %}

{% block content %}

{{ object_list }}

<div>
<div style = "font-weight: lighter; font-style:italic;"> View Application > <a href="{% url 'userlistview' %}">All Users </a> > {{ obj.username }} </div> <br>
<h4> Name : {{ obj.username }}</h4>
<table style="width:90%">
<tr class = 'table'>

    <th>Apply Date/Time</th>
    <th>Leave Type</th>
    <th>Start/End Date</th>
    <th>Duration</th>
    <th>Direct Supervisor</th>
    <th>Vice Principal Decision</th>
    <th>Principal Decision</th>
  </tr>
{% for stuff in applicant %}
	{% if stuff.user.is_nonteacher %}
		<tr class = 'table'>
			<td> {{ stuff.created_at }}</td>
			<td> {{ stuff.alltimeofftype }}</td>
			<td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>
			

			{% if stuff.finalduration == None %}
            	<td> {{ stuff.duration }}</td>
          	{% else %}
            	<td> {{ stuff.finalduration }}</td>
         	{% endif %}
			<td> {{ stuff.firststatus }}</td>
			<td> {{ stuff.secondstatus }}</td>
			<td> {{ stuff.finalstatus }}</td>
		</tr> 
	{% else %}
		<tr class = 'table'>
			<td> {{ stuff.created_at }}</td>
			<td> {{ stuff.alltimeofftype }}</td>
			<td> {{ stuff.startdate }} to {{ stuff.enddate }}</td>
			{% if stuff.finalduration == None %}
            	<td> {{ stuff.duration }}</td>
          	{% else %}
            	<td> {{ stuff.finalduration }}</td>
         	{% endif %}
			<td> Not Applicable</td>
			<td> {{ stuff.secondstatus }}</td>
			<td> {{ stuff.finalstatus }}</td>
		</tr>
	{% endif %}
{% endfor %}

</table>
</td>
		
{% endblock %}